* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./Assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-btn {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #c53434;
}

.banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.banner h1 {
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  font-size: 4rem;
  width: 40%;
  text-wrap: wrap;
  margin: 50px;
}

.focus-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.focus-btn:hover {
  background-color: #005fa3;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 200px; Controls space between left and right */
  padding: 60px 340px;
}

.action-left {
  max-width: 50%;
}

.action-left h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.action-left p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.preview-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.preview-btn:hover {
  background-color: #005fa3;
}

.action-right img {
  max-width: 100%;
  height: auto;

  border-radius: 15px;
}

.pro-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.pro-user {
  width: 70%;
  height: 300px;
  background-color: #5ac576;
  border-radius: 15px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.pro-user h1 {
  margin-bottom: 30px;
  font-size: 1.4rem;
  color: #222;
}

.pro {
  display: flex;
  gap: 150px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item dt {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  font-size: 3rem;
}

.item dd {
  margin: 0;
  color: #666;
  font-size: 0.95rem;
}
